@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{margin: 0; 
    padding: 0;
    box-sizing: border-box;}
inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
} 
.btn
    {
  background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
  border-radius: 50px;
  padding: 12px 20px; 
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
    }
  .paragraph{
  color: white;
  font-size: 1rem;
  line-height: 20px;
}

/* nave section  */
.nav-section {
  background-color: #1A0B2E;
  padding-top: 30px;
  padding-bottom: 30px;
  
}   
.nav-section .nav-bar {
  display: flex;
  color: white;
  justify-content: space-between;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.nav-section .nav-bar .nav-logo {
  color: white;
  font-size: 4rem;
  font-weight: 800;
}
.nav-section .nav-bar .nav-logo2 {
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
   -webkit-background-clip: text;
  background-clip: text;             
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.list-item {
  list-style-type: none;
  display: flex;
  gap: 40px;
  color: white;
}

.list-value {
    display: flex;
  font-size: 1.5rem;
  align-items: center;
  line-height: 120%;
}
.list-value a{
  text-decoration:none ;
  color: white;
}
.subscrib-btn{
  background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
  border-radius: 50px;
  padding: 2px 16px; 
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
    }
    
  .bar-icon { 
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  /* hero section */
.hero-section {
    position: relative;
    width: 100vw;
    min-height: 750px;
  background-image: url('../assets/hero-bg.png');
  background-size: cover;
  background-position: center;}

  .img-circle{
    position: absolute;
    background: transparent;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
   
  }
  .img-microphone{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
     animation: microphone-rotate 4s linear infinite; 
  }
  @keyframes microphone-rotate {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }}

    .hero-details{
      position: absolute;
      margin-top: 50px;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .hero-details h1{
        font-size: 3.75rem;
        font-weight: 800;
        line-height: 150%;
        color: white;
    }
    .hero-details p{
      padding: 20px 0;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 160%;
      color: white;
    }
    .hero-btn{
        display: flex;
        gap : 30px;
        justify-content: center;
    }
    .Subscribe-btn2{
      border-radius: 50px;
      padding: 12px 20px; 
      border: none;
      color: #00FF88;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      background: transparent;
      border: 2px solid #00FF88;
    }
    .Subscribe-btn2:hover{
      background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    }
    .new-btn{position: absolute;
        top: 16%;
        left: 55%;
        padding: 8px 16px;
        font-weight: bold;
        background-color: #00FF88;
        border-radius: 50px;
        outline: none;
        font-size: 1rem;
        cursor: pointer;
        animation: glow 1.5s infinite;

    }
    @keyframes glow {
  0%   { box-shadow: 0 0 0px #00FF88; }
  50%  { box-shadow: 0 0 20px #00FF88; }
  100% { box-shadow: 0 0 0px #00FF88; }
}

    /* podcast section */
.podcast-section{
  background: #1A0B2E;
}
.podcast-details{
  max-width: 75%;
  margin:0 auto;
  
}
.podcast-details h1{
  text-align: center;
  color:white;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 50px;
}
.podcast-details, .p1, .p2{
  color: white;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
}
.p1{
  padding-top: 20px;
}
.p2{
  padding-top: 30px;
}

.podcast-card-section{
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin: 0 auto;
  max-width: 75%;
  padding-top: 160px;
  padding-bottom: 120px;
}
.podcast-card h1{
  color:#00FF88;
  font-size: 3rem;
}
/* choose section */
.choose-section{
  background:#230E3D ;
}
   
.choose{
  max-width: 75%;
  margin:0 auto;
  padding: 120px 0;

}
.choose-heading{
  text-align: center;
  color:white;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 40px;
}
.choose-grid{
  display: grid;
  max-height: 783px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 30px;
}
.Premium-Audio, .Mobile-friendly, .Global-Community, .Exclusive-Interviews, .Rich-Resources{
  background: #351165;
  border-radius: 40px;
}
.Premium-Audio{
  grid-column: 1/3;
  grid-row: 1/5;
  padding-top: 107px;
  padding-bottom: 137px;
  padding-left: 40px;
  padding-right: 40px;
}
.Mobile-friendly{
  grid-column: 3/7;
  grid-row: 1/3;
  padding: 40px; 
}
.Global-Community{
  grid-column: 3/7;
  grid-row: 3/5;
  padding: 40px; 
}
.Exclusive-Interviews{
  grid-column: 1/5;
  grid-row: 5/7;
  padding: 40px; 
}
.Rich-Resources{
  grid-column: 5/7;
  grid-row: 5/7;
  padding: 40px; 
}
.choose-grid h1{
  font-size: 1.5rem;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
}
.choose-grid p{
  color: white;
  font-size: 1rem;
  line-height: 24px;
}
/* Featured Episodes Section */
.Featured-Meet-section{
  background: #1A0B2E;
  padding: 120px 0;
}
.Featured-section{
  max-width: 75%;
  margin:0 auto;
  
}
.Featured-heading{
  color: white;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 40px;

}
.youtub-section{
  display: flex;
  justify-content: space-between;
  
}
.youtub-card{
  width: 24%;
  max-width: 380px;
  border-radius: 10px;
  background: #250D44;
}
.youtub-card iframe{
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.youtub-card-details{
padding: 24px;
}
.youtub-card-details h1{
  color: white;
  font-size: 1.5rem;
}
.youtub-card-details .p-details{
   color: white;
  font-size: 1rem;
  padding: 16px 0;
}
.youtub-card-details .p-img{
  display: flex;
  align-items: center;
  color: #00FF88;
}
.p-img img{
  padding-right:8px;
}
.meet-section{
  width:75%;
  padding-top:120px;
  margin: 0 auto;
}
.meet-heading{
  text-align: center;
  font-size: 3rm;
  color: white;
  padding-bottom: 40px;
}

.host-section{
  display: flex;
  background-color:#351165;
  padding: 40px;
  border-radius: 40px;
}
.host-section .host-img{
  display: flex;
  align-items: center;
}
.host-info{
  margin:40px;
}
.host-info h1{
  color: white;
  font-size: 3rem;
}
.host-info p{color: white;
  font-size: 1rem;
  line-height: 24px;
  padding-top: 16px;
  padding-bottom:16px;

}
.contruct-link{
  display: flex;
  gap: 20px;
  align-items: center;
}
.contruct-link a{
  display: flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 100%;
}
.contruct-link img{
  height: 30px;
  width: 30px;
  padding: 8px;
}
/* footer section */
.footer-section{
  background-image: url("../assets/footer-bg.png");
  background-size: cover;
  background-position: center;
}
.footer-content{
 text-align: center;
  padding: 120px 120px;
}

.footer-logo ,.footer-logo2{
  color: white;
  font-size: 4rem;
  font-weight: 800;
}
.footer-logo2{
   background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
   -webkit-background-clip: text;
  background-clip: text;             
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.footer-links{
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-top: 40px;
}
.footer-links a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}
.footer-links img{
 padding-right: 10px;
}

.copyright-section{color: white;
  padding-top: 32px;
  font-size: 1.5rem;
  line-height: 1.5rem;

}


/* responsive desigen*/
@media screen and (min-width: 992px) {
  /* nave bar */
    .bar-icon {
    display: none;  
    }
  
   
}
@media screen and (max-width: 992px)  {
    /* nave bar */
   .subscrib-btn {
      display: none;
    }
    .list-item {
      display: none;
    }
      .nav-section .nav-bar .nav-logo {
         font-size: 2rem; 
             }
   
}
@media screen and (max-width:576px) {
  
  .Featured-section{
    width: 90%;
    margin: 0 auto;
  }
  .youtub-section{
  width: 90%;  
  flex-direction: column; 
  gap: 16px;
  
}
.youtub-card{
  width: 90%;
}
.meet-section{width:90%;}
.host-section{
  flex-direction: column;
  text-align: center;}
  .host-img{
    margin: 0 auto;
  }
  .contruct-link{
    justify-content: center;
  }
  /* choose section */
  

  .choose{  
    width: 92%;
    padding:40px 20px;
   
  }
  .choose-heading{
    font-size: 2rem;
  }
  .choose-grid h1{
    font-size: 1.35rem;
  }
  .choose-grid p{
    font-size: 0.9rem;
  }
 .choose-grid{ 
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    max-height: 1450px;
 }
 .Premium-Audio{
  padding: 24px;
 }
 .Premium-Audio, .Mobile-friendly, .Global-Community, .Exclusive-Interviews, .Rich-Resources{
  grid-column: auto;
  grid-row: auto;

}
/* footer section */
.footer-section{
  background-size: cover ;
  background-position: center;
}
.footer-content{
  width: 90%;
  margin: 0 auto;
  padding: 60px 20px;
}
.footer-logo ,.footer-logo2{
  font-size: 3rem;
 }
   .footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 16px;

  } 
 .spotify , .instagram, .twitter, .linkedin{
    text-align: center;
  } 

  .copyright-section{
    font-size: 1rem;
  }
  /* podcast details */

  .podcast-details{
    width: 90%;
  }
  .podcast-details h1{
    font-size: 2rem;
  }
  .podcast-card-section{
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 16px;
  }
  .podcast-card{
    text-align: center;
  }
  /* hero section */
  hero-section{
    width: 100%;
  }
  .btn{ font-size:.9rem;
  padding: 6px;}
  .hero-details h1{
    font-size: 2.5rem;
  }
  .hero-details p{
    font-size: 1rem;
  }
  .hero-btn{
    gap:10px
  }

}